/*body*/
body {
    color: #757575;
}

/*styles logo*/
.logo {
    color: #2196F3;
}

.logo-black {
    color: #000000;
}

/*nav*/
.contact {
    color: #757575;
}

.contact:hover,
.contact:focus {
    color: #2196F3;
}

.nav a {
    color: #212121;
}

.nav-list:hover,
.nav-list:focus {
    color: #2196F3;
}

/* footer */
.footer {
    background-color: #2F303A;
}
.logo-white{
    color: #FFFFFF;
}

.adress-city {
    color: #FFFFFF;
}

.contact-footer {
    color: rgba(255, 255, 255, 0.6);
}

.contact-footer:hover,
.contact-footer:focus {
    color: #2196F3;
}
